<section class="section">
  <div class="section-header">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <h1>Файлове</h1>

      <button [routerLink]="['/files/create']" type="button" mat-raised-button color="primary">
        <mat-icon>add_circle_outline</mat-icon>
        Добавяне на нов запис
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z2">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [length]="dataSource.count | async" [pageSize]="10" showFirstLastButtons></mat-paginator>
</section>
